<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>체험농장예약시스템</title>
</head>

<body>
  <h1 style="text-align: center">체험농장 예약시스템</h1>
  <div style="display: flex; justify-content: flex-end;">
    <div>
      <% if(is_logined==false) { %>
        <button onclick="location.href='/login'">로그인</button>
        <button onclick="location.href='/register'">회원가입</button>
      <% } else { %>
      <% if (FarmYN==1) { %>
        <p>농장주</p>
      <% } else { %>
        <p>사용자</p>
      <% } %>
      <button onclick="location.href='/mypage'">마이페이지</button>
      <button onclick="location.href='/logout'">로그아웃</button>
      <% } %>
    </div>
  </div>
  <button onclick="location.href='../'">메인페이지</button>
  <hr>
  
  <% if(list.length==0) { %>
    <h2>프로그램이 없습니다</h2>
    <form action='/programregist' method='post'>
      <input type="hidden" name="PostNum" value="<%= list1.PostNum %>">
      프로그램 시작 날짜 : <input type="date" name="PrgStartDate" value="<%= list1.PrgStartDate%>"><br>
      프로그램 종료 날짜 : <input type="date" name="PrgEndDate" value="<%= list1.PrgEndDate%>"><br><br>
      프로그램 이름 및 내용<br> <input type='text' name='PrgName' value="<%= list1.PrgName%>" style="width:300px;height:200px;font-size:10px;"><br>
      프로그램 가격 : <input type='number' name='PrgPrice' value="<%= list1.PrgPrice%>" style="width:100px;">원<br>
      프로그램 최대인원 : <input type='number' name='PrgMax' value="<%= list1.PrgMax%>" style="width:50px;">명<br>
      프로그램 시작시간 : <input type='time' name='PrgStart' value="<%= list1.PrgStart%>" style="width:300px;"><br>
      프로그램 종료시간 : <input type='time' name='PrgEnd'value="<%= list1.PrgEnd%>"  style="width:300px;"><br>
      <input type="hidden" name="ID" value="<%=list1.ID%>">
      <input type='submit' name="button" value="작성완료">
      <input type='submit' name="button" value="추가작성">
    </form>
  <% } else { %>
    <table border='0'>
    <colgroup>

    </colgroup>
    
            <tr>
                <td>
                    <h2>
                    <%= list[0].FarmName%>
                        </h2>
                    농장정보:<%= list[0].FarmInfo%><br>
                    주소:<%= list[0].FarmAddress%><br>
                    <img src="<%=list[0].PicturePath%>" width="300Px" height="200px">
                    <br>
                    <% for (i=0 ; i < list.length; i++){ %>
                    <p>
                        <%=i+1%>번 프로그램 이름: <%= list[i].PrgName%><br>
                        프로그램 시작일 : <%= ((list[i].PrgStartDATE)+"").substring(0,15)%><br>
                        프로그램 종료일 : <%= ((list[i].PrgEndDATE)+"").substring(0,15)%><br>
                        프로그램 인당 가격: <%= list[i].PrgPrice%><br>
                        프로그램 시작시간:<%= list[i].PrgStart%><br>
                        프로그램 종료시간:<%= list[i].PrgEnd%><br>
                        프로그램 수용가능인원: <%= list[i].PrgMax%><br>
                        프로그램 현재신청한인원:<%= list[i].PrgSub%><br>
                    <form action="deletePrg" method="post">
                        <input type="hidden" name="PrgNum" value="<%= list[i].PrgNum%>">
                        <button type="submit">삭제</button>
                    </form>
                    <form action="changePrg" method="post">
                        <input type="hidden" name="PrgNum" value="<%= list[i].PrgNum%>">
                        <button type="submit">수정</button>
                    </form>
                    </p>
                    <%}%>
                    <input type="hidden" name="PostNum" value="<%= list[0].PostNum%>">
                    
                </td>
                <td>
                    <form action='/programregist' method='post'>
                        <input type="hidden" name="PostNum" value="<%= list[0].PostNum %>">
                        프로그램 시작 날짜 : <input type="date" name="PrgStartDate"><br>
                        프로그램 종료 날짜 : <input type="date" name="PrgEndDate"><br><br>
                        프로그램 이름 및 내용<br> <input type='text' name='PrgName' style="width:300px;height:200px;font-size:10px;"><br>
                        프로그램 가격 : <input type='number' name='PrgPrice' style="width:100px;">원<br>
                        프로그램 최대인원 : <input type='number' name='PrgMax' style="width:50px;">명<br>
                        프로그램 시작시간 : <input type='time' name='PrgStart' style="width:300px;"><br>
                        프로그램 종료시간 : <input type='time' name='PrgEnd' style="width:300px;"><br>
                        <input type="hidden" name="ID" value="<%=list[0].ID%>">
                        <input type='submit' name="button" value="작성완료">
                        <input type='submit' name="button" value="추가작성">
                      </form>
                </td>
            </tr>
        
    </tbody>
</table boader='1'>
<% } %>
    
</body>

</html>