<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>체험농장예약시스템</title>
</head>

<body>
  <h1 style="text-align: center">체험농장 예약시스템</h1>
  <div style="display: flex; justify-content: flex-end;">
    <div>
      <% if(is_logined==false) { %>
        <button onclick="location.href='/login'">로그인</button>
        <button onclick="location.href='/register'">회원가입</button>
      <% } else { %>
        <% if (FarmYN==1) { %>
          <p>농장주 <%=name %>님</p>
        <% } else { %>
          <p>사용자 <%=name %>님</p>
      <% } %>
      <button onclick="location.href='/mypage'">마이페이지</button>
      <button onclick="location.href='/logout'">로그아웃</button>
      <% } %>
    </div>
  </div>
  <hr>
  <div style="display: flex; justify-content: center; margin-top: 1%;">
    <form action="/search" method="post" style="width: 13%;">
      <input type="hidden" name="FarmYN" value="<%= FarmYN %>">
      <select style="padding-right: 5%; margin-right: 0.5%;" name="category">
        <% for(i=0; i < FarmCategoryName.length; i++) { %>
          <option value="<%=i%>">
            <%= FarmCategoryName[i].FarmCategoryName%>
          </option>
          <% } %>
      </select>
      <select style="padding-right: 2%; margin-right: 0.5%;" name="local">
        <% for(i=0; i < LocalName.length; i++) { %>
          <option value="<%=i%>">
            <%= LocalName[i].LocalName%>
          </option>
          <% } %>
      </select>
      <button type="submit">검색</button>
      <!-- <img src="..\images\magnifying-glass.jpg"> -->
    </form>
    <% if (FarmYN==1) { %>
    <form action="/write" method="post">
      <input type="hidden" name="FarmYN" value="<%= FarmYN %>">
      <button type="submit">등록</button>
      <!-- <img src="..\images\plus.jpg"> -->
    </form>
    <% } %>
  </div>
  <a style="display: flex; justify-content: center; margin-top: 1%;" type="button" onclick="location.href='/'"><img src="..\images\strawberry_f.png" alt="이미지 없음"></a>
  <p style="margin-left: 41%;">10월 인기 체험</p>
  <p style="margin-left: 41%;">부산 주례동에 위치한 딸기체험 농장이 가장 인기있다.</p>
  <!-- <% for (i=0; i < 3; i ++) { %>
    <div style="display: flex; justify-content: center;">
      <img style="margin-bottom: 2%; margin-right: 1%;" width="10%" height="10%" src="..\images\strawberry.jpg" alt="이미지 없음">
      <div>
        <a style="font-size:20px; color:rgb(41, 90, 221);text-decoration:underline;" class="" href="/users/progInfo">딸기농장</a>
        <p style="font-size: 18px; line-height: 1.4em; " class="">위치정보 ~</p>
        <p style="font-size: 18px; line-height: 1.4em; " class="">체험내용 ~</p>
      </div>
    </div>
  <% } %> -->
</body>

</html>